In [1]:
x = 5
y = "Minh"
print(x,y)

5 Minh

In [2]:
x = 50
y = 55
print(x+y)

105

In [12]:
x = "Python"
y = "is"
z = "Awesome"
print(x,y,z)

Python is Awesome

Global Variable.

In [17]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Global keyword

In [18]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [4]:
for x in "Books":
    print(x)

B
o
o
k
s

In [6]:
txt ="This is for testing purpose"
print("for" in txt)

True

In [12]:
x ="hello,world!"
print(x[-5:-2])

orl

In [14]:
y = "This pen is mine"
print(y[5:8])
print(y[-7:-5])

pen
is

In [16]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[-4:-1])

['orange', 'kiwi', 'melon']

In [17]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits[1:3]= ["pears","lemon"]
print(fruits)

['apple', 'pears', 'lemon', 'orange', 'kiwi', 'melon', 'mango']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [20]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [6]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for x in range(len(fruits)):
    print(fruits[x])

apple
banana
cherry
orange
kiwi
melon
mango

In [5]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for x in fruits:
    print(x)

apple
banana
cherry
orange
kiwi
melon
mango

In [8]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
i = 0
while i< len(fruits):
    print(fruits[i])
    i+=1

apple
banana
cherry
orange
kiwi
melon
mango

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [12]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [1]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [2]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [1]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [4]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [7]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)

print(x)

{'apple'}

In [12]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change
#y= car.values()
print(car.items())

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [13]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [1]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [1]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [3]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(4)

print(mydoubler(11))

44